extends layout

block content
  nav.navbar.navbar-expand.navbar-light.bg-light
    a(href="/", aria-label="Enhancer").navbar-brand.mr-0.mr-md-2
      img(src="images/enhance2.png", width="48", height="48")
    .collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="/") Submit New
        li.nav-item
          a.nav-link(href="/") Track Status
  h1= title
  p Welcome to #{title}
  form(action="/", method="POST")
    input(name="logon", type="email", placeholder="Enter logon email", required)
    br
    input(name="user", type="text", placeholder="Enter your name", required)
    br
    label(for="sel1") What needs enhancing?
    select(id="sel1", required)
      option Awesome Macro Tool
      option Super Cool Web Tool
      option General Configurations
    br
    textarea(name="describe", rows="10", cols="50", placeholder="Please describe the enhancement", required)
    br
    label Please attach any supporting documents
    input(name="attachment", type="file", maxlength=50 allow="text/*")
    br
    button(type="submit") Submit
